:root {
    --sliderHeight: 300px
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes slide-1 {
    0% {
        left: 200%;
    }
    20% {
        left: 200%;
    }
    40% {
        left: 100%;
    }
    60% {
        left: 100%;
    }
    80% {
        left: 0;
    }
    100% {
        left: 0;
    }
}

@keyframes slide-2 {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    40% {
        left: -100%;
    }
    60% {
        left: -100%;
    }
    80% {
        left: -200%;
    }
    100% {
        left: -200%;
    }
}

@keyframes slide-3 {
    0% {
        left: 100%;
    }
    20% {
        left: 100%;
    }
    40% {
        left: 0;
    }
    60% {
        left: 0;
    }
    80% {
        left: -100%;
    }
    100% {
        left: -100%;
    }
}

.slider {
    background-color: red;
}

.slider .slider__slides {
}

.slider .slider__nav {
}

.slides {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: var(--sliderHeight);
    font-family: sans-serif;
}

.slides .slides__slide {
    position: absolute;
    width: 100%;
    top: 0;
    min-height: var(--sliderHeight);
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slides .slides__slide:first-child {
    background-image: url("../pictures/slide-1.jpeg");
    left: 0;
    animation-name: slide-1;
}

.slides .slides__slide:nth-child(2) {
    background-image: url("../pictures/slide-2.jpeg");
    left: 100%;
    animation-name: slide-2;
}

.slides .slides__slide:last-child {
    background-image: url("../pictures/slide-3.jpeg");
    left: 200%;
    animation-name: slide-3;
}

.slides .slides__box {
    padding: 10px 154px 10px 10px;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: white;
}

.slides .slides__hdl {
    font-family: 'Roboto Boldgit ', sans-serif;
}

.slides .slides__lead {
    font-family: 'Roboto Light', sans-serif;
}

.slides .slides__link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-nav {
    z-index: 10;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    width: 100%;
}

.slider-nav .slider-nav__btn {
    margin: 20px;
    border: none;
    width: 30px;
    height: 30px;
    background: url('../icons/icons8-next-50.png') no-repeat;
    background-size: contain;
    overflow: hidden;
    text-indent: -999px;
    transform: rotate(180deg);
    cursor: pointer;
    opacity: .5;
    transition: all 400ms ease-in-out;
}

.slider-nav .slider-nav__btn.slider-nav__btn--prev {
    position: absolute;
    right: 0;
    transform: rotate(0);
}

.slider-nav .slider-nav__btn:hover {
    opacity: 1;
    transform: scale(2) rotate(180deg);
}

.slider-nav .slider-nav__btn.slider-nav__btn--prev:hover {
    transform: scale(2) rotate(0);
}