:root {
    --sliderHeight: 200px
}
.slider {
    background-color: red;
}
.slider .slider__slides {}
.slider .slider__nav {}

.slides {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: var(--sliderHeight);
    font-family: sans-serif;
}
.slides .slides__slide {
    position: absolute;
    width: 100%;
    top: 0;
    min-height: var(--sliderHeight);
}
.slides .slides__slide:first-child {
    background-color: gold;
    left: 0;
}
.slides .slides__slide:nth-child(2) {
    background-color: yellow;
    left: 100%;
}
.slides .slides__slide:last-child {
    background-color: green;
    left: 200%;
}
.slides .slides__box{
    padding: 10px;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    box-sizing: border-box;git
}
.slides .slides__hdl {}
.slides .slides__lead {}
.slides .slides__link {}

.slider-nav {}
.slider-nav .slider-nav__btn {}
.slider-nav .slider-nav__btn.slider-nav__btn--prev {}